<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-student></app-student> -->

<!-- <app-practPipe></app-practPipe> -->

<!-- <app-templateform></app-templateform> -->
<!-- <app-tempcollege></app-tempcollege> -->
<!-- <app-practReactive></app-practReactive> -->
<!-- <App-formbuilder></App-formbuilder> -->
<!-- <app-college></app-college> -->
 
<!-- <app-reactive></app-reactive>   -->
<!-- <app-college></app-college> -->
 <!-- <app-hospital></app-hospital>  -->
 <!-- <app-deletedemo></app-deletedemo>  -->
 
 

<router-outlet></router-outlet>
